<html lang="ch">
<head>
    <title>首页</title>
    <style>
        body {
            background-color: #f4f4f4;
            color: #333;
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h2 {
            color: #008080;
        }

        a {
            text-decoration: none;
            color: #007bff;
            transition: color 0.3s ease-in-out;
        }

        a:hover {
            color: #0056b3;
        }
    </style>
</head>
<body>
<h2>欢迎访问首页</h2>

<!-- 添加链接到图书页面 -->
<a href="/myBook/toAddBook">添加图书</a>
<a href="/myBook/book?id=1">查看id=1图书信息</a>
<a href="/myBook/books">查看所有图书信息</a>
</body>
</html>